* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  font-family: 'lexend Dexa', sans-serif;
  color: aliceblue;
}

.title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700; /*grosor, peso de la fuente*/
  font-size: 40px; /*tamaño de la fuente*/
  margin: 0;
}
.card {
  padding: 48.5px;
  height: 442px;
  position: relative;
}
@media screen and (width>768px) {
  .card {
    display: inline-block;
  }
}
.card-orange {
  background-color: #e28625;
}
.card-blue {
  background-color: #006971;
}
.card-green {
  background-color: #004140;
}

.parrafos {
  font-size: 15px; /*tamaño de la fuente*/
  line-height: 25px; /*interlineado*/
  width: 231px;
}
.images {
  margin-bottom: 40px;
}
.button {
  position: absolute;
  bottom: 48px;
  border-radius: 120px;
  background-color: aliceblue;
  padding: 11px 30.5px;
}
@media (hover: hover) {
  .button:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #fff;
  }
}

.button-orange {
  color: #e28625;
}
.button-blue {
  color: #006971;
}
.button-green {
  color: #004140;
}
